#logout-confirm,
#apply-filters,
#confirm-action,
#edit-trigger,
#save-contact-edit
{
  background: linear-gradient(101.26deg, #83d929 14.93%, #0099d1 80.68%);
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 99;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
  height: 3px;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
#hamburger:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
#hamburger:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
#hamburger:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.hold-colors {
  filter: invert(62%) sepia(53%) saturate(6213%) hue-rotate(164deg)
    brightness(95%) contrast(103%);
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.w-64 {
  width: 16rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-gray-200 {
  background-color: rgb(229 231 235);
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.datepicker-cell.selected {
  background-color: #83d929 !important;
}


.paginationjs{
  justify-content: center;
  margin-top: 20px;
  user-select: none;
}

.paginationjs-ellipsis{
  background: white;
}